argcomplete>=3.2.1
astropy>=6.0.0
coverage>=7.3.2
extinction>=0.4.6
imageio>=2.33.1
matplotlib>=3.8.2
mypy>=1.7.1
numpy>=1.26.2
pandas>=2.1.4
polars>=0.19.19
pre-commit>=3.6.0
pyarrow>=14.0.1
pynonthermal>=2021.10.12
pypdf2>=3.0.1
pytest>=7.4.3
pytest-cov>=4.1.0
python-xz>=0.5
pyvista>=0.43.0
PyYAML>=6.0.1
pyzstd>=0.15.9
ruff>=0.1.7
scipy>=1.11.4
setuptools_scm[toml]>=8.0.4
typeguard>=4.1.5
types-PyYAML>=6.0.12.12
#vtk>=9.2.3
wheel>=0.42.0
